<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-text class="ion-text-center">
    <h1>RecipeTool</h1>
  </ion-text>
  @if (recetas.length === 0) {
    <ion-text class="ion-text-center">
      <h3>No recipes yet</h3>
    </ion-text>
  }
  @else {
    <ion-text class="ion-text-center">
      <h3>Discover new Dishes</h3>
    </ion-text>
    
    <app-recipe-cards [recetas]="recetas"></app-recipe-cards>
  }
</ion-content>
