<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar (keyup.enter)="getRecipes(receta.value?.toString() ?? '')" #receta></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-title>Buscar recetas</ion-title>
  @if (recetas.length === 0) {
    <h3>Todavia no hay recetas</h3>
  }
  @else {
    <h3>Discover new Dishes</h3>
    
    <app-recipe-cards [recetas]="recetas"></app-recipe-cards>
  }
</ion-content>
