@for (item of recetas; track item) {
  <ion-card (click)="openRecipe(item)" class="ion-padding">
    <ion-fab class="ion-margin-top">
      <ion-fab-button size="small" (click)="$event.stopPropagation()">
        <ion-icon name="chevron-down-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-list id="recipeButtons" side="bottom">
        <ion-fab-button class="" (click)="infoRecipe(item); $event.stopPropagation()">
          <ion-icon name="information-circle-sharp"></ion-icon>
        </ion-fab-button>
        <ion-fab-button (click)="addFavorite(item.recipe.uri); $event.stopPropagation()">
          <ion-icon name="star-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>
    <ion-card-header>
      <ion-card-title class="ion-text-capitalize ">{{item.recipe.label}}</ion-card-title>
      <ion-card-subtitle class="ion-text-capitalize">{{item.recipe.dishType}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-img [src]="item.recipe.image" alt="Dish"></ion-img>
      <section id="ingredients">
        <h2 class="ion-padding-left ion-padding-top"><b>Calories:</b> {{item.recipe.calories.toFixed(2)}}</h2>
        <h2 class="ion-padding-left ion-padding-top"><b>Ingredients</b></h2>
        @for (ingredient of item.recipe.ingredientLines; track $index) {
          <p class="ion-padding-left">{{ingredient}}</p>
        }
      </section>
      <h1 class="ion-padding-left" (click)="infoRecipe(item); $event.stopPropagation()">...</h1>
      </ion-card-content>
  </ion-card>
}