ion-fab {
    position: fixed;
    top: -3%;
    right: -1%;
}

ion-fab-list:first-child ion-fab-list:last-child {
    --background: green;
}

ion-card {
  border-radius: 10px;
  background-color: #262626;
}

ion-card-title {
  font-size: 1.5em;
  color: white;
  width: 80%;
}

ion-icon {
  color: white;
}

ion-fab-button {
  --background: transparent;
  --box-shadow: none;
}

ion-img {
  max-height: 50vh;
}

ion-img::part(image) {
  border-radius: 10px;
}

#ingredients {
  max-height: 13.5vh;
  overflow: hidden;
}

#points{
  margin-top: -10px;
  margin-left: 5px;
}