
<swiper-container>
  @for (item of recetas; track item) {
  <swiper-slide>
    <ion-card (click)="openRecipe(item)" class="ion-padding">
      <ion-fab class="ion-margin-top">
        <ion-fab-button size="small" (click)="$event.stopPropagation()">
          <ion-icon name="chevron-down-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-list id="recipeButtons" side="bottom">
          <ion-fab-button class="" (click)="infoRecipe(item); $event.stopPropagation()">
            <ion-icon name="information-circle-sharp"></ion-icon>
          </ion-fab-button>
          <ion-fab-button (click)="addFavorite(item.recipe.uri); $event.stopPropagation()">
            @if (isFavorite) {
              <ion-icon name="star"></ion-icon>
            }
            @else {
              <ion-icon name="star-outline"></ion-icon>
            }
          </ion-fab-button>
        </ion-fab-list>
      </ion-fab>
      <ion-card-header>
        <ion-card-title class="ion-text-capitalize ">{{item.recipe.label}}</ion-card-title>
        <ion-card-subtitle class="ion-text-capitalize">{{item.recipe.dishType}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        @defer {
          <ion-img [src]="item.recipe.image" alt="Dish"></ion-img>
        }
        @loading (minimum 1s) {
          <ion-skeleton-text [animated]="true"></ion-skeleton-text>
        }
        <section id="ingredients">
          <ion-title slot="start" size="small" class="ion-padding-left ion-padding-top"><b>Calories:</b> {{item.recipe.calories.toFixed(2)}}</ion-title>
          <ion-title slot="start" size="small" class="ion-padding-left ion-padding-top"><b>Ingredients</b></ion-title>
          @for (ingredient of item.recipe.ingredientLines; track $index) {
            <p class="ion-padding-left">{{ingredient}}</p>
          }
        </section>
        <ion-title size="small" class="ion-padding-left" (click)="infoRecipe(item); $event.stopPropagation()">...</ion-title>
        </ion-card-content>
    </ion-card>
  </swiper-slide>
  }
</swiper-container>