    <ion-header>
      <ion-toolbar>
        <ion-title>{{recipe.recipe.label}}</ion-title>
        <ion-buttons slot="end">
          <ion-button color="medium" (click)="cancel()">Back</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <div class="principalContent">
        <ion-img class="center" [src]="recipe.recipe.image" alt="Dish"></ion-img>
        <div id="ingredients">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Ingredients</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-list lines="none">
                @for (ingredient of recipe.recipe.ingredientLines; track $index) {
                  <ion-item>
                    <ion-label>{{ingredient}}</ion-label>
                    <ion-button slot="end" id="open-modal" (click)="addingredient(ingredient)">
                      <ion-icon slot="icon-only" name="add-circle"></ion-icon>
                    </ion-button>
                  </ion-item>
                }
              </ion-list>
            </ion-card-content>
          </ion-card>
        </div>
        <div class="cards-container">
          <div class="cards-container-left">
            <ion-card class="custom-card">
              <ion-card-header>
                <ion-card-title>Health Labels</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-list lines="none">
                  @for (healthLabel of recipe.recipe.healthLabels; track $index) {
                    <ion-item>
                      <ion-label>{{healthLabel}}</ion-label>
                    </ion-item>
                  }
                </ion-list>
              </ion-card-content>
            </ion-card>

          </div>
          <div class="cards-container-right">

            <ion-card class="custom-card">
              <ion-card-header>
                <ion-card-title>Cautions</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-list lines="none">
                  @for (caution of recipe.recipe.cautions; track $index) {
                      <ion-item>
                        <ion-label>{{caution}}</ion-label>
                      </ion-item>
                  }
                </ion-list>
              </ion-card-content>
            </ion-card>

            <ion-card class="custom-card">
              <ion-card-header>
                <ion-card-title>Nutrients</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-list lines="none">
                  @for (nutrient of recipe.recipe.digest; track $index) {
                    <ion-item-group>
                      <ion-item-divider>
                        <ion-label>{{nutrient.label}}</ion-label>
                      </ion-item-divider>
                      <ion-item>
                        <ion-label slot="end">{{nutrient.total.toFixed(2)}} {{nutrient.unit}}</ion-label>
                      </ion-item>
                    </ion-item-group>
                  }
                </ion-list>
              </ion-card-content>
            </ion-card>
  
          </div>
        </div>
      </div>


    </ion-content>
    

    <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-button (click)="cancel()">Done</ion-button>
            </ion-buttons>
            <ion-title>Welcome</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <ion-item>
            <ion-select placeholder="Select One BuyList" (ionChange)="handleSelectEvent($event)">
              @for (item of buyLists; track $index) {
                <ion-select-option value="{{item.id}}">{{item.name}}</ion-select-option>
              }
            </ion-select>
          </ion-item>
        </ion-content>
      </ng-template>
    </ion-modal>