@font-face {
    font-family: 'MyCustomFont';
    src: url('../../assets/fonts/BiteChocolate-2RGl.ttf') format('truetype');
}

#logo {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    display: block;
}

