<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-icon class="ion-margin-start" name="person" slot="start" size="large"></ion-icon>
    <ion-button class="ion-margin-end" slot="end" id="open-modal">
      <ion-icon slot="icon-only" name="settings"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-text class="ion-text-center">
    <h1>Profile</h1>
  </ion-text>
  @if (recetas.length === 0) {
    <ion-text class="ion-text-center">
      <h2>No recipes yet</h2>
    </ion-text>
  }
  @else {
    <ion-accordion-group>
      <ion-accordion>
        <ion-item slot="header">
          <ion-label>Favorite Recipes</ion-label>
        </ion-item>
        <ion-label>Hola</ion-label>
        <app-recipe-cards slot="content" [recetas]="recetas" [isFavorite]="true"></app-recipe-cards>
      </ion-accordion>
    </ion-accordion-group>

    <ion-text class="ion-margin">
      <h2>BuyLists</h2>
    </ion-text>

    <div id="addList">
      <ion-input type="text" placeholder="List name" #listName></ion-input>
      <ion-button (click)="createBuyList(listName.value?.toString() ?? '')" icon="">
        <ion-icon name="add-circle"></ion-icon>
      </ion-button>
    </div>

    <ion-accordion-group>
      <ion-accordion>
        <ion-item slot="header">
          <ion-label>BuyLists</ion-label>
        </ion-item>
          <ion-accordion-group slot="content">
            @for (item of buyLists; track $index) {

              <ion-accordion>
                <ion-item slot="header">
                  <ion-label>{{item.name}}</ion-label>
                </ion-item>
                <ion-list slot="content">
                  @for (ingredient of item.ingredients; track $index) {
                    <ion-item>
                      <ion-label>{{ingredient.name}}
                        <ion-button (click)="deleteIngredientFromList(item.id, ingredient.id)">
                          <ion-icon name="remove-circle"></ion-icon>
                        </ion-button>
                      </ion-label>
                    </ion-item>
                  }
                </ion-list>
              </ion-accordion>
            }

          </ion-accordion-group>
      </ion-accordion>
    </ion-accordion-group>
    
  }
  <ion-modal trigger="open-modal" [initialBreakpoint]="1" [breakpoints]="[0, 1] ">
    <ng-template>
      <div class="block">
        <ion-accordion-group id="editProfile">
          <ion-accordion >
            <ion-item slot="header">
              <ion-label>Profile</ion-label>
            </ion-item>
            <ion-item slot="content">
              <ion-input label="Username: " #username></ion-input>
            </ion-item>
            <ion-item slot="content">
              <ion-input label="Pasword: " type="password" #pass></ion-input>
            </ion-item>
          </ion-accordion>
        </ion-accordion-group>
        <ion-button (click)="updateUser(username.value?.toString() ?? '', pass.value?.toString() ?? '')">Edit Profile</ion-button>
        <ion-button (click)="logout()">Logout</ion-button>
      </div>
    </ng-template>
  </ion-modal>
</ion-content>
