<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-icon name="person" slot="start" size="large"></ion-icon>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-text class="ion-text-center">
    <h1>Profile</h1>
  </ion-text>
  @if (recetas.length === 0) {
    <ion-text class="ion-text-center">
      <h2>No recipes yet</h2>
    </ion-text>
  }
  @else {
    <ion-accordion-group>
      <ion-accordion value="first">
        <ion-item slot="header">
          <ion-label>Favorite Recipes</ion-label>
        </ion-item>
        <ion-label>Hola</ion-label>
        <app-recipe-cards slot="content" [recetas]="recetas" [isFavorite]="true"></app-recipe-cards>
      </ion-accordion>
    </ion-accordion-group>
    
  }
</ion-content>
